* {
  box-sizing: border-box;
}

#root > div > div:first-child {
  display: flex;
  width: 60%;
  margin: 3% auto;
  flex-direction: row;
  justify-content: space-evenly;
}

#root > div > div:first-child > a {
  padding: 1%;
  text-decoration: none;
  text-transform: uppercase;
  color: black;

}

#root > div > div:first-child .active {
  border: 1px solid green;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}

.container > .btn-click {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}

.container > .btn-click >  a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding: 15px 20px;
  border: 1px solid green;
}

.register-container {
  max-width: 320px; 
  width: 100%;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid green;
  padding: 1% 0 5% 0;
}

.register-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70%;
}
 

.register-container > form > .form-container {
  height: 80px;
  width: 100%;
  font-size: 18px;
  outline: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-container > form > .form-container > input {
  height: 40px;
  width: 50%;
  outline: 0;
  font-size: 18px;
  color: black;
}

.register-container > form > .form-container > .invalid {
  border: 1px solid red;
}

.register-container > form > .form-container > .invalid-msg {
  color: red;
  font-size: 12px;
  padding-bottom: 2px;
  text-align: center;
}

.register-container > form >  button {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 5px 10px;
  border: 1px solid black;
  outline: 0;
}

.register > .register-back{
  margin: 20px;
}

.register > .register-back a {
  text-decoration: none;
  font-size: 18px;
  color:black;
  padding: 10px;
}

.register > .register-back a:active {
  border: 1px solid green;
}

.todo-container {
  width: 40%;
  background-color:lightgrey;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

 .todo-input .todo-title > h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.todo-input .todo-add  {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.todo-input .todo-add > input {
  width: 70%;
  height: 30px;
  font-size: 18px;
  outline: 0;
  border: none;
  background-color: #F5F5F5	;
}

.todo-input .todo-add button {
  height: 30px;
  padding: 0 15px;
  background-color: blue;
  outline: 0;
}


.todo-input .todo-add button:hover {
  cursor: pointer;
}

.todo-input .todo-add button i {
  font-size: 18px;
  color: white;
}

.todo-container .todo-item {
  width: 98%;
  margin: 0 auto;
}

.todo-container .todo-item {
  margin-bottom: 20px;
}

.list-item {
  width: 98%;  
  margin-bottom: 1px;
  padding: 0 0 0 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
}
.list-item .todo-item_content {
  width: 85%;
}


.list-item .todo-item_action {
  width: 15%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
}

.list-item .todo-item_action > button {
  background-color: lightgray;
  outline: 0;
  border: none;
  padding: 0;
}

.list-item .todo-item_action > button:hover {
  cursor: pointer;
}

.list-item .todo-item_action > button:first-child {
  margin-right: 5px;
  cursor: pointer;
  color: yellow;
}
.list-item .todo-item_action > button:last-child {
  cursor: pointer;
  color: red;
}

.list-item .todo-item_action > button > i {
  font-size: 18px;
}

.todo-list {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list .todo-action {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.todo-list .todo-action > button {
  width: 30%;
  margin: 0 10px 10px 0;
  font-size: 18px;
  padding: 5px;
  background-color: red;
  color: white;
  font-weight: 600;
  outline: none;
}

.todo-list .todo-action > button:hover {
  cursor: pointer;
}


